{%extends 'base.html'%}
{%load static%}
{% load custom_tags%}
{% load mptt_tags %}
{%block content%}
    <div class="col-lg-12">
        <div class="row">
            {% if not photos%}
                <div>
                    <h3>No images to show. Start uploading some!!</h3>
                </div>
                <div>
                    <a href="{% url 'photo_list' %}">Link to Gallery</a>
                </div>
            {%else%}
                {% for image in photos%}
                    <div class="col-md-4">
                        <div class="blog-entry ftco-animate">
                            <div class="text text-2 pt-2 mt-3">
                                <div class="meta-wrap">
                                    <p class="meta">
                                        <span><a href="{% url 'profile' image.user_id%}" class="img" style="background-image: url({{image.user.pic.url}});height:30px;width:30px;float:left"></a></span>
                                        <span><a href="{% url 'profile' image.user_id%}" style="float:left;margin-left:5%;">{{image.user.username}}</a></span>   
                                    </p>
                                </div>
                            </div>
                            <a href="{% url 'photo_view' image.id%}" class="img img-2" style="background-image: url({{image.pic.url}});"></a>
                            <div class="text text-2 pt-2 mt-3">
                                <div class="meta-wrap">
                                    <p class="meta">
                                        <span>{{image.created_at | date:'F d,Y'}}</span>
                                        <span>
                                            {% if not image.id in liked%}
                                                <a href="#" id="like_image" data-url="{% url 'like' pic_id=image.id  %}">Like</a>
                                            {%else%}
                                                <a href="#" id="unlike_image" data-url="{% url 'unlike' pic_id=image.id %}">Unlike</a>
                                            {%endif%}
                                        </span>
                                        <span><a href="{% url 'photo_view' image.id%}">{{image.comments.all.count}} Comment</a></span>
                                    </p>
                                </div>
                                <p class="mb-4"><a href="{% url 'profile' image.user.id%}">{{ image.user.username }}</a></b> {{image.description}}</p>
                                    {% for comment in  image.comments.all.reverse%}
                                
                                        {% if forloop.first %}
                                            <div class="comment">
                                                <div class="date"><span><b><a href="{% url 'profile' comment.user.id%}">{{ comment.user.username }}</a></b> {{ comment.text }}</span></div>
                                            </div>
                                            {% if not comment.is_leaf_node %}
                                                <div class="children">
                                                    {{ children }}
                                                </div>
                                            {% endif %}
                
                                        {%endif%}
                                        
                                        
                                    {% endfor %}
                                
                                <div class="comment">
                                    <div class="date"><span><b><a href="{% url 'photo_view' image.id%}">View all comments</a></b> {{ node.text }}</span></div>
                                    
                                </div>
                                {% if user.is_authenticated %}
                                    <form method = "post" style="margin-top: 1.3em;"> 
                                        {% csrf_token %} 
                                        {{ form.text}}
                                        <input id="id_pic" name="pic" type="hidden" value="{{image.id}}">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit</button> 
                                    </form>
                                {%else%}
                                    Login to comment!!
                                {%endif%}
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%endif%}
        </div><!-- END-->
    </div>
{%endblock%}