{%extends 'base.html'%}
{%block content%}
    <div class="col-lg-12">
        <div class="row">
            {% for image in photos%}
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="{% url 'photo_view' image.id%}" class="img img-2" style="background-image: url({{image.pic.url}});"></a>
                        <div class="text text-2 pt-2 mt-3">
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span>{{image.created_at | date:'Y-m-d H:i'}}</span>
                                    <span>
                                        {% if not image.id in liked%}
                                            <a href="{% url 'like' pic_id=image.id %}">Like</a>
                                        {%else%}
                                            <a href="{% url 'unlike' pic_id=image.id %}">Unlike</a>
                                        {%endif%}
                                    </span>
                                    <span>{{image.comments.all.count}} Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">{{image.description}}</p>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div><!-- END-->
    </div>
{%endblock%}