{%extends 'base.html'%}
{% load custom_tags%}
{% load mptt_tags %}
{%block content%}
    
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-entry ftco-animate">
                        <a href="{% url 'photo_new'%}" class="img img-2" style="background-image: url(/static/images/add_image.png);height:100px;width:100px;"></a>
                        <p class="mb-4">Add More Pics +</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for image in object_list%}
                    {%include 'shared/photo_view.html'%}
                {%endfor%}
            </div>
        </div>
{%endblock%}