{%extends 'base.html'%}

{%block content%}
{% load crispy_forms_tags %}
<div class="col-lg-8">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Profile Form</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {{ form | crispy}} 
                        <input type="submit" value="Update Profile" class="btn btn-info btn-block">
                    </form>
                </div>
                <div>{%for message in messages%} {{message}} {%endfor%}</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}